
<div class="container text-center">
  <%= image_tag "odontocheque-frente-sensodyne.png", size: '650' %>
    <div class="my-2">
      <%= link_to "imprimir", cheque_path(format: "pdf"), class: "btn btn-success" %>
      <%= link_to "Volver", root_path, class: "btn btn-warning" %>
    </div>
  </div>
